<!DOCTYPE html>
<html>
<head>
    <title>Target: RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
<h1>
  Welcome to Rock-Paper-Scissors!
</h1>

<body>
    <div> 
    <a href = "/homepage"> Rules </a>
    </div>
</body>
</html>
